html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  background-position: top center;
  background-size: cover;
}

body {
  margin: 0;
}

.body-container {
  padding:60px;
  display:flex;
}

@media (max-width: 500px) {
  .body-container {
    flex-direction:column;
    }
}
